.contact{
    position:fixed;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    z-index:10;
}

.list:hover{
    background: linear-gradient(90deg, rgba(120,194,207,1) 0%, rgba(52,152,219,1) 100%);
}